@import "_widget/*"

html
  font-size $font-size
  letter-spacing $letter-spacing

html, body
  height 100%
  font-family $font-family
  overflow-wrap break-word

body
  transition color .2s ease-in-out, background-color .2s ease-in-out
  background-color var(--body-bg-color)
  color var(--text-color)
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  a
    color #034393
    text-decoration none
    cursor pointer
    transition color .2s ease-in-out, background-color .2s ease-in-out

    &:hover
      color var(--link-hover-color)
      text-decoration none
      transition color .2s ease-in-out, background-color .2s ease-in-out

code
  color inherit

table
  font-size inherit
  color var(--post-text-color)
  border-collapse collapse
  width 100%
  
  td, th
    border 1px solid #ddd
    padding 8px

  th
    padding-top 12px
	padding-bottom 12px
	text-align center
	background-color #3F3F3F
	color white

img[lazyload]
  object-fit cover

*[align="left"]
  text-align left

*[align="center"]
  text-align center

*[align="right"]
  text-align right

::-webkit-scrollbar
  width 6px
  height 6px

::-webkit-scrollbar-thumb
  background-color var(--scrollbar-color)
  border-radius 6px

  &:hover
    background-color var(--scrollbar-hover-color)

::-webkit-scrollbar-corner
  background-color transparent

label
  margin-bottom 0

i.iconfont
  font-size 1em
  line-height 1
