<% if (page.total > 1){ %>
  <nav aria-label="navigation">
    <span class="pagination" id="pagination">
      <%- paginator({
        prev_text: '<i class="iconfont icon-arrowleft"></i>',
        next_text: '<i class="iconfont icon-arrowright"></i>',
        mid_size: 2, //1:只显示当前页码及其左右两个页码，2:额外显示最大页面可以直接跳转
        end_size: 1,
        format: `${config.pagination_dir}/%d/${theme.scroll_down_arrow.scroll_after_turning_page ? '#board' : ''}`,
        escape: false
      }) %>
    </span>
  </nav>
<% } %>
